<!DOCTYPE html>
<html lang="en">
<head>
    <title>Documentation</title>
</head>
<body>
<a href="/">Home</a>
<h1>Documentation</h1>
<p><i>WIP: </i>In order for the app to work you have to download the <b>ntfy</b> app from your local appstore.</p>
<a target="_blank" href="https://play.google.com/store/apps/details?id=io.heckel.ntfy"><img alt="Get it on Google Play" src="/static/media/badge-google.19268080.png" width="168" height="50" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;"></a><a target="_blank" href="https://apps.apple.com/us/app/ntfy/id1625396347"><img alt="Download on the App Store" src="/static/media/badge-apple.4bec723d.png" width="148" height="50" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;"></a>
<p>The room key will be displayed in after you logged in at the home page. This long key you can then enter in <b>ntfy</b></p>
</body>
</html>