<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            /* border: 1px solid #ddd; */
            text-align: center;
        }
        /* th {
            background-color: #f2f2f2;
        } */

table, th, td {
  border:1px solid black;
}
    </style>
</head>
<body>
    <h2>Data Table</h2>
    <table class="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Concert Name</th>
                <th>Concert ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.user_id }}</td>
                <td>{{ item.concert_name }}</td>
                <td>{{ item.concert_id }}</td>
                <td>
                    <form action="/delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ item.user_id }}">
                    <input type="hidden" name="concert" value="{{ item.concert_id }}">
                    <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
